{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "ie": 11
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"]
  ]
}
